<!--Footer-->
<footer class="bg-danger text-center text-white">
  <div class="container p-4">

    <!--Redes Sociais-->
    <section class="mb-4">

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-facebook-square" aria-hidden="true"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/suacomunidaderpgista/" target="_blank" role="button"
        ><i class="fa fa-instagram" aria-hidden="true"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-twitter-square" aria-hidden="true"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-discord"></i></a>

    </section>
    <!--/Redes Sociais-->

    <!--Barra de Pesquisas-->
    <section class="">
      <form action="">
        <div class="row d-flex justify-content-center">
          <div class="col-md-5 col-12">
            <div class="form-outline form-white mb-4">
              <input type="search" placeholder="Pesquisar" class="form-control" />
            </div>
          </div>
        </div>
      </form>
    </section>
    <!--/Barra de Pesquisas-->


    <!--Links-->
    <!--News-->
    <section class="">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">News</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Artigos</a>
            </li>
            <li>
              <a href="#!" class="text-white">Matérias</a>
            </li>
            <li>
              <a href="#!" class="text-white">Eventos</a>
            </li>
            <li>
              <a href="#!" class="text-white">Concursos</a>
            </li>
          </ul>
        </div>
        <!--/News-->

        <!--Forum-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Forum</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">RPG</a>
            </li>
            <li>
              <a href="#!" class="text-white">Animes</a>
            </li>
            <li>
              <a href="#!" class="text-white">Séries / Filmes</a>
            </li>
            <li>
              <a href="#!" class="text-white">Quadrinhos</a>
            </li>
            <li>
              <a href="#!" class="text-white">Enquetes</a>
            </li>
          </ul>
        </div>
        <!--/Forum-->

        <!--Multimídia-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Multimídia</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Textos</a>
            </li>
            <li>
              <a href="#!" class="text-white">Arts</a>
            </li>
            <li>
              <a href="#!" class="text-white">Vídeos</a>
            </li>
            <li>
              <a href="#!" class="text-white">Games</a>
            </li>
          </ul>
        </div>
        <!--/Multimídia-->

        <!--Contato-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <a href="">
            <h5 class="text-uppercase">Contato</h5>
          </a>
        <!--/Contato-->

        <!--Sobre-->
          <a href="">
            <h5 class="text-uppercase">Sobre</h5>
          </a>
        <!--Sobre-->

        </div>
      </div>
    </section>
    <!--/Links-->

  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!--/Footer-->