<!--Menu Padrão-->
<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Banca RPG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
        </form>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            News
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Artigos</a></li>
            <li><a class="dropdown-item" href="#">Matérias</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Eventos</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Concursos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Forum
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">RPG</a></li>
            <li><a class="dropdown-item" href="#">Animes</a></li>
            <li><a class="dropdown-item" href="#">Séries / Filmes</a></li>
            <li><a class="dropdown-item" href="#">Quadrinhos</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Enquetes</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Multimídia
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Textos</a></li>
            <li><a class="dropdown-item" href="#">Arts</a></li>
            <li><a class="dropdown-item" href="#">Vídeos</a></li>
            <li><a class="dropdown-item" href="#">Games</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre</a>
        </li>
      </ul>
      <!--/Menu Padrão-->

      <!--Menu Usuário-->
      <ul class="d-flex align-items-center">
        <li>
          <img
            src="https://cdn.shopify.com/s/files/1/0882/5118/products/DUNGEONS_AND_DRAGONS-D20_Dice_Lapel_Pin-2443061_1024x1024.jpg?v=1593529026"
            alt="Imagem de User" width="50px" height="50px" class=" m-2 img-fluid rounded-circle">
        </li>
        <li class="nav-item dropdown">
          <a class="me-2 mb-4 mt-4 nav-link dropdown-toggle fs-16" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Nome do Usuário
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Meu Perfil</a></li>
            <li><a class="dropdown-item" href="#">Configurações</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Cadastrar / Logar</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Sair
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>

            </li>
          </ul>
        </li>
      </ul>
      <!--/Menu Usuário-->
    </div>
  </div>
</nav>